<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}">
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="m-0" th:text="${titulo}"></h4>
            <h4>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}">
                    <img th:src="@{/img/agregar-usuario.png}" class="img-responsive mx-2 " style="width: 50px; height: 50px;"/>
                </a>
                <a th:href="@{'/listar'(format=csv)}">
                    <img th:src="@{/img/archivo-csv.png}" class="img-responsive mx-2  " style="width: 50px; height: 50px;"/>
                </a>
                <a th:href="@{'/listar'(format=xml)}">
                    <img th:src="@{/img/xml.png}" class="img-responsive mx-2  " style="width: 50px; height: 50px;"/>
                </a>
                <a th:href="@{'/listar'(format=json)}">
                    <img th:src="@{/img/json.png}" class="img-responsive mx-2  " style="width: 50px; height: 50px;"/>
                </a>
            </h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" sec:authorize="hasRole('ROLE_USER')" th:text="#{text.cliente.id}">Detalles</th>
                    <th scope="col" th:text="#{text.cliente.nombre}">Nombre</th>
                    <th scope="col" th:text="#{text.cliente.apellidos}">Apellido</th>
                    <th scope="col" th:text="#{text.cliente.email}">Email</th>
                    <th scope="col" th:text="#{text.cliente.fechaAlta}">Fecha</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Crear Factura</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td class="text-center" sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/ver/} + ${cliente.id}">
                            <img th:src="@{/img/archivo.png}" class="img-responsive"
                                 style="width: 30px; height: 30px;"/>
                        </a>
                    </td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellidos}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.fechaAlta}"></td>
                    <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/factura/form/} + ${cliente.id}">
                            <img th:src="@{/img/agregar.png}" class="img-responsive"
                                 style="width: 30px; height: 30px;"/>
                        </a></td>
                    <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/form/} + ${cliente.id}">
                            <img th:src="@{/img/usuario.png}" class="img-responsive"
                                 style="width: 30px; height: 30px;"/>
                        </a></td>
                    <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/eliminar/} + ${cliente.id}"
                           onclick="return confirm('¿Estás seguro que quieres eliminar?');">
                            <img th:src="@{/img/borrar.png}" class="img-responsive" style="width: 30px; height: 30px;"/>
                        </a></td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="~{layout/paginator-nav :: paginator} "></nav>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout :: footer}">

</footer>
</body>
</html>